
ion-content {
  --ion-background-color: transparent;
  background-image: url('/assets/images/choir.jpg');
  background-size: cover !important;
  background-position: center;
}

ion-card {
  background-color: white;
}

ion-fab-button span{
  font-size: 2em;
  color: #777777;
  mix-blend-mode: difference;
}

