<ion-card *ngIf="!hide">
  <div [ngClass]="card.class" class="bg"></div>
  <ion-card-header>
    <ion-card-subtitle>
      {{card.title}}
    </ion-card-subtitle>
    <ion-card-title>
      {{card.text}}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="item-text-wrap item text-center">
      <p>{{card.rule}} "{{card.text}}"</p>
    </div>
  </ion-card-content>
  <ion-grid>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button size="small" fill="clear" (click)="getNextCard()">Draw Card</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-grid>
</ion-card>