<ion-card>
  <div [ngClass]="card.class" class="bg"></div>
  <ion-card-header>
    <ion-card-subtitle>
      {{card.title}}
    </ion-card-subtitle>
    <ion-card-title>
      {{card.text}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="item-text-wrap item text-center">
      <p>{{card.rule}} "{{card.text}}"</p>
    </div>
    <ion-toolbar>
      <ion-buttons slot="end">
        ({{card?.index + 1}}<span *ngIf="maxCards">&nbsp;of {{maxCards}}</span>)
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>