<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bravo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="concert bg"></div>
    <ion-card-header class="item item-header item-text-wrap">
      <ion-card-title>Welcome to Bravo!</ion-card-title>
    </ion-card-header>
    <ion-card-content class="item item-body">
      <p>This is an 'on-the-go' party game for those long waits in theme park lines or long road trips.</p>
      <p>This is a card game for you and small group of friends. When you start, you will be given a word or a
        category
        and one of the following subject areas: Song Lyrics , Song Title , Movie Quote , Movie Title , TV Show Quote
        , TV Show Title , or Book Title</p>
      <p>If you play it in public, you may just find people around you offering their own song suggestions.</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button routerDirection="root" routerLink="/game">
          Game On!
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
  </ion-card>
</ion-content>